.container_data {
    display: flex;
    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif;
    justify-content: space-around;
    padding:50px;
}
.container_info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}
.container_info-1{
    padding-left:40px
}

.container_info-2{
    display: flex;
    align-items: baseline;
    ul li{
        list-style:none;
        color:$LMC;
    }
    ul li span{
        color:$IMC
    }
}
.container_info-3 h4{
    padding-left: 40px;
    padding-top: 70px;
    display:flex;
    gap:1rem;
    
}


.emoticon{
    font-size:20px
}