body {
    margin: 0;
    padding: 0;
}

.container_all {
    background-color: $FMC;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    padding: 40px;
    gap: 3rem;
}
.input_Search{
    height:7vh;
    width:40vw;
    border: 0;
    border-radius:6px;
    color:$IMC
}

.container_filter{
    display:flex;
    justify-content:space-between;
    padding: 50px;
    background-color: $FMC;
}
.container_inicio{
    display:flex;
    justify-content:space-between;
    font-size:14px;
    color: $LMC;
}
