body {
    margin: 0;
    padding: 0;
}

.container_all {
    background-color: $FONDOLi;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    padding: 40px;
    gap: 3rem;
}

.input_Search {
    height: 7vh;
    width: 40vw;
    border: 0;
    border-radius: 6px;
    color: $INPUT;

    &:focus {
        border: 1px solid white;
        outline: none
    }
}

.container_filter {
    display: flex;
    padding: 50px;
    justify-content: space-between;
    background-color: $FONDOLi;
    align-items: center;
    select {
        height: 7vh;
        width: 10vw;
        border-radius: 5px;
        border: 1px solid white;
        &:focus {
            border: 1px solid white;
            outline: none
        }
        option {
            border: 1px solid white;
            border-radius: 10px;
            &:focus {
                border: 1px solid white;
                outline: none
            }
        }
    }
}

.container_inicio {
    display: flex;
    font-size: 14px;
    color: $LETRASLi;
    padding:20px;
    h2{
        padding-left: 30px;
    }
}
.btn{
    display:flex;
    padding-left:41rem ;
    gap: 4rem;
    background-color: $FONDOLi;
    button{
        height:5vh;
        width:5vw;
        border:1px solid #ccc;
        border-radius:7px;
        cursor:pointer;
    }
}