
// FMO= fondo en modo oscuro  LMC=letras modo claro  TMOEMC= texto modo claro y elementos en modo claro  IMC=input modo claro 
// FMC=fondo modo claro 
$ELEMENTOS:hsl(0, 0%, 100%);
$FONDOLi:hsl(0, 0%, 98%);
$INPUT: hsl(0, 0%, 52%);
$LETRASLi:hsl(200, 15%, 8%);

$FONDOOs:hsl(207, 26%, 17%);
$ELEMENTOSOs: hsl(209, 23%, 22%);